

<st-flipcard *ngFor="let tile of tiles" [height]="tile.height" [width]="tile.width">
    <st-flipcard-front>
        <div class="language-logo-container-front" [style.background-color]="tile.bgcolor" [style.color]="tile.fontcolor">
            <div class="language-logo-front">
                <fa-icon [icon]="tile.icon" size="8x"></fa-icon>
            </div>
        </div>
    </st-flipcard-front>
    <st-flipcard-back>
        <div class="language-logo-container-back">
            <div class="language-logo-back">{{tile.text}}</div>
        </div>
    </st-flipcard-back>
</st-flipcard>